.createListForm {
    width: 15%;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 70px;
}
.confirmButton {
    height: 30px;
}
.titleInputField {
    height: 30px;
}